<!DOCTYPE html>
<html>
  <head>
    <title>EnglishBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'  %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <span class="text-muted"><%= link_to "Home page", home_path %></span>
          <span class="text-muted"><%= link_to "About", about_path %></span>
        </div>
        <div class="col-4 text-center">
          <h5 class="blog-header-logo text-dark">TeacherED</h5>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <!-- <span class="text-muted"><%= link_to "Add article", new_teacher_path %></span> -->
          <% if user_signed_in? %>
            <span class="btn btn-sm btn-outline-secondary"><%= link_to "Log out", destroy_user_session_path, method: :delete %></span>
          <% else %>
            <span class="text-muted"><%= link_to "Log in", new_user_session_path %></span>
            <span class="btn btn-sm btn-outline-secondary"><%= link_to "Sign up", new_user_registration_path %></span>
          <% end %>
        </div>
      </div>
    </header>


    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>">
              <button class="close" data-dismiss="alert">&times;</button>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
